*.iml
.gradle
/local.properties
gradle.deps

.idea/*
!.idea/copyright
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Custom
/sign
output.json
*.apk
*.aab
*.dex
.classpath
version.txt

!.idea/icon.png
!.idea/icon_dark.png
!.idea/codeStyles
!.idea/inspectionProfiles

.idea/

buildSrc/build/
